
/*********************
*        MEDIA       *
*********************/

@media only screen and (max-device-width: 1000px) {
  .proj_title h2 {font-size: 3em;}
  .project_details {margin-left: 0;}
  .project_details_content {flex-direction: column;}
  .project_details_content p {font-size: 2em;}
  .project_details_content h3 {font-size: 3em;}
}


@media only screen and (min-device-width: 1001px) {
  .proj_title h2 {font-size: 2em;}
  .project_details {margin-left: 10%; width: 85%;}
  .project_details_content {flex-direction: row;}
}





.proj_title h2 {
  margin: auto;
  text-align: left;
  font-family: Raleway;
  color: #00143e;
  /* font-size: 2em; */
  margin-top: 7%;
  margin-left: 12%;
  margin-bottom: 3%;
  margin-right: 10%;
}


/* margin: 5% auto 5% 15%;
 */

.project_details{
  display: flex;
  flex-direction: column;
  /* width: 85%; */
  /* margin-left: 10%; */
}

.project_details h2{
  /* margin: 2em 0; */
}

.project_details h3{
  text-decoration: underline;
  font-weight: normal;
}

.project_details_content{
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-left: 12%;
  margin-right: 7%;
  /* flex-direction: row; */
}

.proj_description{
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  margin-right: 7%;
  /* width: 55%; */
  text-align: justify;
  line-height: 1.5;
  /* max-width: 45em; */
  font-family: Calibri;
}

.investigators{
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 10em;
  padding-right: 2em;
}

.complementary_info{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.funding{
  display: flex;
  flex-direction: column;
  /* max-width: 20%; */
}

.funding img{
  max-width: 15em;
  /* height: 6em; */
}

.no_bullet_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  padding-left: 15em;
}

.no_bullet_list p{
  line-height: 1;
}

.no_bullet_list li{
  align-content: center;
}

.no_bullet_list em{
  font-size: 110%;
  font-weight: bold;
  font-style: normal;
}

hr{
  text-align: center;
  color: #A9A9A9;
  width:3em;
}

.Thanks{
  display: flex;
  /* display: -webkit-box; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:3em;
  margin-left:30%;
  margin-right:15%;
}

.Thanks p{
  /*font-style: italic;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
