@import 'https://fonts.googleapis.com/css?family=Raleway';

/*********************
*        MEDIA       *
*********************/

@media only screen and (max-device-width: 1000px) {
  /* .map {height: 75%;} */
  .menu_v_home {display: none; }
  .menu_v {display: none; }
  .menu-wrap {display: block; }
  .img_nancy {display: none;}
  .no1,.no3 {display: none;}
  .no2, .no4 {max-width: 100vw; max-height: 50vh;}
  #about {font-size: 200%;}
  .projects {margin-left: 5%;}
  .title_proj {margin-left: 0; font-size: 3.5em;}
  .project_block {margin:2em 1em;} /*height: 30em; width: 30em;*/
  .project_summary p{font-size: 2em;}
  .project_title h3{font-size: 2.5em;}
  .project_img {margin-top: 3%;}
  .softwares {margin-left: 5%;}
  .software_block {margin:3em 1em;} /*height: 30em; width: 30em;*/
  .software_summary p{font-size: 2em;}
  .software_title h3{font-size: 2.5em;}
  .software_img {margin-top: 3%;}
  .software_img img {max-width: 60%;}
  .title_mem {font-size: 3.5em; margin-left: 0;}
  .member_img_L, .member_img, .contact_img {display: none;}
  .preview_member_L, .preview_member_R {margin: 1em 1em 1em 3em;}
  .preview_member_L p, .preview_member_R p{font-size: 2em;}
  .preview_member_L h3, .preview_member_R h3{font-size: 2.5em;}
  .member_position {color:#808080;}
  .members_all {margin-left: 3%; margin-right: 3%;}
  .contacts, .location {flex-wrap: wrap;}
  .title_contact {font-size: 3.5em; margin-left: 0;}
  /* .contacts, .find_us {margin-left: 5%; margin-right: 5%;} */
  .contact_position { display: none;}
  .contact_name h3 {font-size: 2em;}
  .contact_coord p, .contact_coord a {font-size: 2em;}
  .find_us {margin-left: 0;}
  .find_us h3 {font-size: 2em;}
  .location p{font-size: 2em;}
  .location p {margin-left: 0; margin-top: 2em;}
  .find_us, .location {margin-top: 5%; justify-content: center; align-items: center; margin-right: 2em;}
  .google_map {width: 90%;}
  .Copyright, .Copyright_c, .Copyright_h {display: none;}

}

@media only screen and (min-device-width: 1001px) {
  .menu_v_home { display: flex; flex-direction: column;}
  .menu_v { display: flex; flex-direction: column;}
  .menu-wrap { display: none; }
  .img_nancy {display: block;}
  .no1,.no3 {display: block;}
  .no2, .no4 {max-width: 50vw; max-height: 39vh;}
  #about {font-size: 1.2em;}
  .project_block {height: 30em; width: 20em; margin:2em 1em;}
  .project_img {margin-top: 1em;}
  .project_summary {height: 10em;}
  .projects {margin-left: 15%;}
  .softwares {margin-left: 15%;}
  .software_block {height: 30em; width: 20em; margin:2em 1em;}
  .software_summary {max-height: 6em;}
  /* .software_img {height: 18em; width:  18em;} */
  .software_img img {max-width: 20em;}
  .preview_member_L, .preview_member_R {margin: 1em 6em 1em 7em;}
  .member_position {color:#AAA;}
  .member_content {max-width: 83%; min-width: 83%;}
  .members_all {margin-left: 17%;}
  .title_contact {margin-left: 15%;}
  .contacts {margin-left: 25%; margin-right: 10%;}
  .find_us {margin-left: 15%;}
  .location p {margin-left: 2em;}
  .google_map {width: 55%;}
  .Copyright, .Copyright_c {margin: 2% auto 0 40%; display: flex;}
  /* .Copyright_h {margin: 15% auto 0 10%; display: flex;} */


}



body {
  margin: 0;
  padding: 0;
}

strong {
  color: #f64d00;
}

em {
  font-style: normal;
  font-weight: bold;
}


a {
  color: #00143e;
  text-decoration: none;
}

a:hover {
  color: #F64D00;
  cursor: pointer;
  text-decoration: underline;
}

.MainContent{
  display: flex;
  /* display: -webkit-box; */
  flex-direction: row;
}

.MainContent_home{
  display: flex;
  /* display: -webkit-box; */
  flex-direction: column;
}


/*************************
***     LOGO & MENU    ***
*************************/
.logo img{
  height: 6em;
}


/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 10em;
  height: 10em;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 6em;
  height: 7em;
  padding-top: 0;
  padding-left:1em;
  /*background: var(--primary-color);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg_hamburger{
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 7em;
  height: 7em;
  padding-top: 0;
  padding-left:1em;
  /*background: var(--primary-color);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
  background: #00143e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1.5em;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 1.5em;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .bg_hamburger > div > div{
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .bg_hamburger > div > div:before,
.menu-wrap .toggler:checked + .bg_hamburger > div > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .bg_hamburger > div > div{
  transform: rotate(225deg);
}


/* Show Menu */
.menu-wrap .toggler:checked ~ .menu_proj2 {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu_proj2 > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu_proj2 > div  {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu_proj2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:white;
  font-family: Raleway;
  text-align: center;
}


.menu_v_home{
  /* display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */ */
  /* display: -ms-flexbox;  /* TWEENER - IE 10 */ */
  /* display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ */
  /* display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */ */

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  background: #00143e;/*white;*/
  font-family: Raleway;
  padding-top: 5em;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  /* position: fixed; */
  top:0;
  left:0;
  bottom: 0;
  width: 20em;
}

.menu_v{
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0 auto;
  background: #00143e;/*white;*/
  font-family: Raleway;
  padding-top: 5em;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  width: 15em;
  /* bottom:0; */
}

div.menu_proj{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
	text-align: center;
  margin-top: 5em;
}

div.menu_proj a
{
    color: #FFF;/*#00143e;*/
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    line-height: 2;
}

div.menu_proj2 a
{
    color: #00143e;
    text-decoration: none;
    font: 3em Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    line-height: 2;
}

.menu_proj a:hover, .menu_proj2 a:hover{
  color: #F64D00;/*#00143e;*/
  transition: all 0.3s;
}




/**********************
**     MainContent   **
**********************/
.supp {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: white;
}


.supp h1 {
  color: white;/*#f64d00*/
  font-family: Raleway;
  font-size: 250%;
}


.img_represent {
  display: flex;
  flex-direction: row;
}

.img_indv img {
  width: 100%;
}

.no1, .no3 {
  max-width: 50vw;
  max-height: 39vh;
  overflow: hidden;
  margin: 1em 0.5em 1em 1em;
}

.no2, .no4 {
  overflow: hidden;
  margin: 1em 1em 1em 0.5em;
}

.no1 img{
  margin-top: -4em;
}

.no2 img{
  margin-top: -10em;
}

.no3 img{
  margin-top: -4em;
}

.no4 img{
  margin-top: -6em;
}

.title_lab {
  background-color: #00143e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_lab img {
  width: 45%;
}


.inf {
  /* background-color: white; */
  display: flex;
  height: 100vh;
  /* align-items: center; */
  justify-content: center;
  margin: auto 0;
}

.values {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.values a{
  display: flex;
  color: #f64d00;
  font-family: Raleway;
  font-size: 160%;
  line-height: 3;
  text-decoration: none;
}

.hov_img{
  /* visibility: hidden; */
  opacity: 0;
  height: 150px;
  width: 150px;
  z-index: -5;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}



.hov_img img{
  /* width: 100%; */
  height: 100%;
  box-shadow: 20px 10px 0 #f64d00; /*, 0 20px 0 #f64d00;*/

}

.values a:hover .hov_img{
  /* visibility: visible; */
  opacity: 1;
  z-index: 30;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  /* box-shadow: 20px 10px 0 #f64d00; /*, 0 20px 0 #f64d00;*/ */

}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 7% 7%;
  max-width: 45em;
  font-family: Calibri;
}

.description h3 {
  font-family: Raleway;
  text-align: center;
}

.description p {
  /* font-size: 2; */
  /* font-family: Raleway; */
}

#about {
  /* margin-top: 15%; */
  /* font-size: 1.2em; */
  line-height: 1.5;
}

.img_nancy {
  /* position: fixed; */
  width: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 0;
  /* z-index: -1; */
  /* margin: 0 0 auto auto; */
}

.img_nancy img {
  height: 100vh;
  margin-left: -350px;
  transform: rotate(-90deg);

}





/*************************
***      PROJECTS      ***
*************************/

.MainContent_proj {
  display: flex;
  /* display: -webkit-box; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .title_proj {
  display: flex;
  right: 0;
  left: 10em;
  top: 3em;
  height: 7em;
} */

.title_proj {
  font-family: Raleway;
  color: #00143e;
  font-size: 1.5em;
  /* margin: 5% auto 5% 15%; */
  margin-top: 3%;
  margin-left: 15%;
  margin-bottom: 3%;
}

/* .title_proj img {
  overflow: hidden;
  max-width: 30em;
} */


.projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-left: 15%; */
  /* margin-top: 15%; */
}

.project_block{
  /* height: 30em;
  width: 20em;
  margin:2em 1em; */
  /* border: 1px solid black; */
}

.project_title h3{
  font-family: Raleway;
  text-align: center;
  margin: 0.5em auto;
}

.project_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
  /* height: 30em;
  width: 25em; */
  /*background-color: #b8c2d8;/*#00143e;*/
}

.project_summary{
  padding: 0 1.5em;
  /* height: 10em; */
  /* border: 1px solid black; */
  /* overflow-y: scroll; */
}

.project_summary p{
  font-family: calibri;
  text-align: justify;
  line-height: 1.5;
}

.project_img{
  height: 15em;
  width: 15em;
  /* margin-top: 1em; */
  overflow: hidden;
  align-items: center;
  border-radius: 50%;
  /* border: 1px solid black; */
}

.project_img img {
  height: 100%;
}






/*************************
***      MEMBERS       ***
*************************/

.members_all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-left: 17%; */
  font-family: calibri;
}

.members_all a{
  text-decoration: none;
}

.title_mem {
  font-family: Raleway;
  color: #00143e;
  font-size: 1.5em;
  /* margin: 5% auto 5% 15%; */
  margin-top: 3%;
  margin-bottom: 3%;
}

.alumni{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5% auto;
  line-height: 1.5;
}

.alumni h2{
  text-decoration: underline;
  margin: 3em auto auto auto;
}

.preview_member_L, .preview_member_R{
  display: flex;
  align-items: center;
  /* margin: 0.5em 6em 0.5em 7em; */
}

.preview_member_Al{
  display: flex;
  align-items: center;
  /* margin: 0.5em 10em; */
}

.member_img_L {
  max-width: 150px;
  overflow-x: hidden;
  text-align: center;
}

.member_img img, .member_img_L img{
   height:75%;
   width:75%;
   max-width: 150px;

}

.member_content{
  display: flex;
  flex-direction: column;
  /* max-width: 83%; */
}

.member_content_Al{
  display: flex;
  flex-direction: column;
}

.member_name{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 1em;
  text-align: left;
}

.member_name h3{
  margin: 0;
  font-family: Raleway
}

.member_position{
  /* color: #AAA; */
  font-size: 1.3em;
  font-weight: lighter;
  padding: 0 0.5em;
  margin: 0;
}

.member_summary{
  padding: 0 1em;
  text-align: justify;
}

.member_summary_R {
  text-align: justify;
  padding: 0 1em 0 0;
}

.member_summary p{
  line-height: 1.5em;
}

.member_coord{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  margin: 0 1em 1em auto;
  font-style: italic;
  font-weight: 350;
}

.member_coord p{
  margin: 0 1em;
  line-height: 1.5em;
}






/*************************
***      SOFTWARES     ***
*************************/

.softwares{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-left: 15%; */
}

.software_block{
  /* height: 27em;
  width: 20em; */
  margin:2em 1em;
}

.software_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.software_img{
  /* height: 18em;
  width:  18em; */
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}

.software_img img{
  /* height: 100%; */
  align-items: center;
  justify-content: center;
}

.software_title h3{
  font-family: Raleway;
  text-align: center;
  margin: 0.5em auto;
}

.software_summary{
  padding: 0 1.5em;
  /* max-height: 6em; */
}

.software_summary p{
  text-align: justify;
  line-height: 1.5;
}






/*************************
***      CONTACT       ***
*************************/

.MainContent_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title_contact {
  font-family: Raleway;
  color: #00143e;
  font-size: 1.5em;
  /* margin: 5% auto 5% 15%; */
  margin-top: 3%;
  /* margin-left: 15%; */
  margin-bottom: 3%;
}

.contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* margin-left: 25%;
  margin-right: 10%; */

}

.preview_contact{
  display: flex;
  align-items: center;
  margin: 0.5em 1em;
  /* border: 1px solid; */
}

.contact_img{
  width:40%;
}

.contact_content{
  display: flex;
  flex-direction: column;
}

.contact_name{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  padding: 0 1em;
  text-align: left;
}

.contact_name h3{
  margin: 0;
  color: #00143e;
}

.contact_position{
  color: #AAA;
  font-size: 1.3em;
  font-weight: lighter;
  padding: 0 0.5em;
  margin: 0;
}

.contact_coord{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  /* margin: 0 1em 1em auto; */
}

.contact_coord p{
  margin: 0 1em;
  line-height: 1.5em;
}

.find_us {
  display: flex;
  flex-direction: column;
  /* margin-left: 15%; */
  padding-left: 11%;

}

.find_us h3{
  color: #00143e;
  margin-top: 5%;
  /* margin-left: 12%; */
  margin-bottom: 1%;
}

.google_map{
  /* width: 55%; */
  border: 2px solid #AAA;

}

.location {
  display: flex;
  margin-bottom: 2%;
}

.location p {
  display: flex;
  flex-direction: column;
  /* margin-left: 2em; */
  margin-top: 0;
  margin-bottom: 0;

}





.Copyright, .Copyright_c, .Copyright_h{
  /* display: flex; */
  flex-direction: column;
  /* margin: 2% auto 0 40%; */
  right: 0;
  color: #AAA;
}
